
local_network = {
  cidr_block = "192.168.1.0/24"
  gateway = "192.168.1.1"
}

vpn_network = {
  endpoint = "sonos.mydomain.com"
  listen_port = 51820
  cidr_block = "192.168.15.0/24"
}

vpn_server = {
  name = "sonos"
  interface = "eth0"
  local_ip = "192.168.1.21"
  username = "pi"
  ssh_key_file = "~/.ssh/rpi"
}

vpn_clients = [
  "client1",
  "client2"
]

